<div class="container">
  <div class="cards" *ngFor="let order of orderDetails">
    <mat-card class="mat-elevation-z10">
      <mat-card-title> Order ID: {{ order.orderId }} </mat-card-title>

      <div *ngIf="order.isActive">
        <mat-card-content style="color: red">
          Order is active
        </mat-card-content>
      </div>
      <div *ngIf="!order.isActive">
        <mat-card-content style="color: blue">
          Order is completed
        </mat-card-content>
      </div>

      <mat-card-content> Time Stamp: {{ order.timestamp }} </mat-card-content>

      <mat-card-content> Order Status: </mat-card-content>

      <mat-form-field class="dropDown">
        <!-- <mat-select> -->
        <mat-select [disabled]="!order.isActive">
          <mat-option
            [value]="sampleStatus.orderStatus"
            *ngFor="let sampleStatus of sampleOrderStatus"
            >{{ sampleStatus.orderStatus }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-card-content>
        Payment Recieved: {{ order.paymentRecieved }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
